@model string

<div class="container" style="margin-top: 50px;">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- Green Success Message Box -->
            <div class="alert alert-success text-center" role="alert">
                <h4 class="alert-heading">Registration Successful!</h4>
                <p>You have successfully registered. Please click below to log in.</p>
                <hr>
                <a href="/Account/Login" class="btn btn-primary">Click here to Login</a>
            </div>
        </div>
    </div>
</div>
